div.alert {
    padding: 15px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
}

div.alert.danger {
    background-color: rgb(255, 243, 243);
    color: rgb(121, 0, 0);
    border-color: rgb(121, 0, 0);
}