@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

h1 {
    text-align: center;
}

div.container {
    margin: 0 auto;
    max-width: 80%;
}

div.search-box {
    text-align: center;
    margin: 20px 0; 
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    padding: 20px;
}

div.search-box input[type="text"] {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    border: none;
}

div.search-box input[type="text"]:focus {
    outline: none;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-container .image-card {
    width: 320px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px rgb(212, 212, 212);
    border-radius: 10px;
    margin: 10px;
}

.image-container .image-card .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    -o-object-fit: cover;
    -o-object-position: center center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 5px rgb(212, 212, 212);
}

.image-container .image-card p {
    padding: 5px 15px;
    text-transform: lowercase;
}

.image-container .image-card p::first-letter {
    text-transform: capitalize;
}

a.download, a.info-page, input[type="submit"] {
    display: inline-block;
    font-size: 0.8em;
    margin: 15px;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
    background-color: rgb(255, 255, 255);
}

a.download:hover, a.info-page:hover, input[type="submit"]:hover {
    background-color: rgb(200, 200, 200) !important;
    color: black !important;
}

a.info-page {
    margin-left: -5px;
    color: rgb(50, 50, 50);
    background-color: rgb(220, 220, 220);
}

input[type="submit"] {
    margin-top: 15px;
    color: rgb(80, 80, 80);
    background-color: rgb(220, 220, 220);
}